In [1]:
# List variable initiation
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [2]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [3]:
# 1. What is the length of the salaries list.
print (len(salaries))

7

In [4]:
# 2. Retrieve the third salary in the list by using index.
print (salaries[2])

50k

In [5]:
# 3. Extract the last salary from the list by using a negative index.
print (salaries[-1])

40k

In [6]:
# 4. Slice the salaries list to get only the middle three salaries.
print (salaries[2:5])

['50k', '60k', '35k']

In [7]:
# 5. Add a new salary to the list, ‘100k’ by using append() method.
salaries.append('100k')
print (salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

In [8]:
# 6. Add a new salary to the list, ‘120k’ without method.
salaries = salaries + ['120k']
print (salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

In [9]:
# 7. Replace the third salary in the list with '55k' and print the updated list.
salaries = salaries[0:2] + ['55k'] + salaries[3:]
print (salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

In [10]:
# Another way to replace third salary in the list
salaries[2] = '55K'
print (salaries)

['20k', '40k', '55K', '60k', '35k', '89k', '40k', '100k', '120k']

In [11]:
# 8. Count how many times '40k' appears in the list.
print (salaries.count('40k'))

2

In [12]:
# 9. Insert a new salary at the second position.
salaries = salaries[0:1] + ['25k'] + salaries[1:]
print (salaries)

['20k', '25k', '40k', '55K', '60k', '35k', '89k', '40k', '100k', '120k']

In [13]:
# Another way to insert value at the second position.	
salaries.insert(1, '25K')
print (salaries)

['20k', '25K', '25k', '40k', '55K', '60k', '35k', '89k', '40k', '100k', '120k']

In [14]:
# 10. Reverse the order of the salaries list with method.
salaries.reverse()
print (salaries)

['120k', '100k', '40k', '89k', '35k', '60k', '55K', '40k', '25k', '25K', '20k']

In [15]:
# 11. Reverse the order of the salaries list without method.
print (salaries[::-1])

['20k', '25K', '25k', '40k', '55K', '60k', '35k', '89k', '40k', '100k', '120k']